<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
</head>
<body>
    <form method ="post" enctype ="multipart/form-data">
    {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Upload</button>
        {% if saved_object %}
        <h2>Upload Sucessful: {{saved_object.image.url}} </h2>
        <h2>Upload Sucessful: {{saved_object.Description}} </h2>
        <img src ="{{saved_object.image.url}}" alt="Image" style ="max-height:500px">
        {% endif %}
    </form>
</body>
</html>